/* utilities */
:root{
    --blue: #2A4E92;
    --green-button: #3dbe42
}
.lunatix-font-style{
    font-family: "lunatix";
    font-size: 1.8rem;
    letter-spacing: 0.054rem;
    text-shadow: 0px 2px 0px #000;
}
.shadow-thick{
    text-shadow: -0.15rem 0rem black, -0.15rem 0.15rem black, 0.15rem 0.15rem black, 0.15rem -0.15rem black, -0.15rem -0.15rem black;
}
h5{
    font-size: 1.5rem;
}

.characters{
    margin-top: 8.5rem;
    width: 192rem;
    height: 91rem;
    background-image: url(/RPG-Game/assets/character-page-assets/Background.png);    
    color: var(--white);
    font-weight: 700;
    font-style: normal;
    position:absolute;
}
.top-tag{
    position: relative;
    left: 9rem; 
    top:9.6rem;
    width: 10.7rem;
    height: 2.8rem;
    background-color: var(--black);    
}
.character-container{
    width: 35rem;
    height: 75rem;
    border: var(--black) solid 0.5rem;
    text-align: center;
    
}
.blue-char{
    background-color: var(--blue);
    margin-top: 9.3rem;
    margin-left: 9rem;
}
.character-name{
    font-size: 4.8rem;
    text-shadow: 0px 4px 0px #000;
    margin-top:4.8rem ;
}
.character-img{
    margin-top: 2.3rem;
    margin-bottom: 2rem;
}
.char-properties-top{
    line-height: 1.5rem; 
    letter-spacing: 0.045rem;
    margin-bottom: 1.7rem;
}
.char-properties-bottom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 0.8rem;
    padding-left: 3rem;
}
.first-column, .third-column{
    background-color: var(--black);
    border-radius: 3rem;
}
.first-column{
    width: 10.5rem;
    height: 3.5rem;
    font-size: 1.8rem;
    padding-left: 1.5rem;
    
}
.second-column{
    width: 10.2rem;
    height: 3.1rem;
    font-size: 1.8rem;
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
}
.arrow-up{
    margin-right: 1.4rem;
}
.medal{
    margin-right: 0.5rem;
    stroke-width: 2px;
    stroke: #000;
}
.third-column{
    position: relative;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    justify-content: right;
    padding-right: 0.8rem;
}
.third-column::before{
    content: 'X1';
    position: absolute;
    top:0.2rem;
    left:0.2rem;
    width: 3.5rem;
    height: 2.1rem;
    background-color: var(--green-button);
    color: var(--black);
    border-radius: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

button{
    grid-column: 1 / span 3;
    width: 28.5rem;
    height: 4.3rem;
    font-size: 3.3rem;
    font-family:  "hwt-artz";
    color: var(--white);
}
.green-btn{
    background-color: var(--green, linear-gradient(180deg, #3DBE42 0%, #3BB827 100%));
    border-radius: 0.8rem;
}