.lobby {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  max-height: var(--max-height);
}

.modal {
  background: var(--white);
  width: var(--modal-width);
  height: var(--modal-height);
  margin-top: var(--modal-margin-top);
  margin-bottom: var(--modal-margin-bottom);
  overflow: hidden;

  /* margin-left: var(--modal-left-right-margin);
  margin-right: var(--modal-left-right-margin); */

  display: grid;
  grid-template-areas:
    "navbar"
    "header-img"
    "header-img"
    "header-img"
    "showcase"
    "showcase"
    "showcase"
    "showcase"
    "showcase"
    "showcase"
    "modal-account"
    "modal-account";
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 4rem 0 rgba(0, 0, 0, 0.35);
}
