/* reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* The default font size of the browser is 16px, so if we want 1rem to be equal to 10px, we divide 10px by 16px = 62.5% */
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: gray;
  font-family: "hwt-artz", sans-serif;
  font-size: 2rem;
  color: whitesmoke;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* @media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
} */

/* vars */
:root {
  --gray-one: #757575;
  --cream-gray: #d9d9d9;
  --royal-blue: #266cd7;
  --mustard-yellow: #d7ba26;
  --green: #26d74d;
  --pink: #d726d0;
  --red: #d72626;
  --purple: #9326d7;
  --black: #000;
  --white: #fff;
  --max-width: 100vw;
  --max-height: 100vh;
  --modal-width: 88.8rem;
  --modal-height: 77.7rem;
  --modal-left-right-margin: 51.6rem;
  --modal-margin-top: 15.1rem;
  --modal-margin-bottom: 15.2rem;
}

.just-flex {
  display: flex;
}

.flex-end-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
