/* reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* The default font size of the browser is 16px, so if we want 1rem to be equal to 10px, we divide 10px by 16px = 62.5% */
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: var(--black);
  font-family: "hwt-artz";
  font-size: 2rem;
  color: whitesmoke;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@font-face {
  font-family: "hwt-artz";
  src: url("https://use.typekit.net/af/0951ac/00000000000000007735a49b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/0951ac/00000000000000007735a49b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/0951ac/00000000000000007735a49b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* vars */
:root {
  --creame-gray: #d9d9d9;
  --royal-blue: #266cd7;
  --mustard-yellow: #d7ba26;
  --green: #26d74d;
  --pink: #d726d0;
  --red: #d72626;
  --purple: #9326d7;
  --black: #000;
  --white: #fff;
  --main-font: HWT Artz;
  --max-width: 100vw;
  --max-height: 100vh;
  --modal-width: 88.8rem;
  --modal-height: 77.7rem;
  --modal-left-right-margin: 51.6rem;
  --modal-margin-top: 15.1rem;
  --modal-margin-bottom: 15.2rem;
}

.flex {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.lobby {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  max-height: var(--max-height);
}

.modal {
  background: var(--white);
  width: var(--modal-width);
  height: var(--modal-height);
  margin-top: var(--modal-margin-top);
  margin-bottom: var(--modal-margin-bottom);
  overflow: hidden;

  /* margin-left: var(--modal-left-right-margin);
  margin-right: var(--modal-left-right-margin); */

  display: grid;
  grid-template-areas:
    "navbar"
    "header-img"
    "header-img"
    "header-img"
    "showcase"
    "showcase"
    "showcase"
    "showcase"
    "showcase"
    "showcase"
    "modal-account"
    "modal-account";
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 4rem 0 rgba(0, 0, 0, 0.35);
}
.navbar {
  grid-area: navbar;
  height: 4rem;
  width: 100%;
  background-color: rgb(255, 0, 0);
}
.modal-header {
  grid-area: header-img;
  width: 100%;
  height: 20rem;
  background-color: rgb(191, 202, 31);
}
.modal-showcase {
  grid-area: showcase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39rem;
  width: 100%;
  background-color: green;
}
.modal-account {
  height: 14.7rem;
  width: 100%;
  grid-area: modal-account;
  background-color: blue;
}
